<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
	<style type="text/css">
	</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>MessyTube</title>
    <link rel="stylesheet" href="https://messytube.herokuapp.com/stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="https://messytube.herokuapp.com/stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->

    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="MessyTube for Facebook" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://apps.facebook.com/messytube/" />
    <meta property="og:image" content="http://messytube.herokuapp.com/images/DJMessyGreenLaserYoutube.jpg" />
    <meta property="og:site_name" content="MessyTube" />
    <meta property="og:description" content="DJ Messy's YouTube Channel" />
    <meta property="fb:app_id" content="490019527740859" />

    <script type="text/javascript" src="https://messytube.herokuapp.com/scripts/jquery.min.js"></script>
	<!-- Thumbnail Script -->
	<script type="text/javascript">
		$("document").ready(function() {
			var linkToYouTube = "https://www.youtube.com/embed/";
			$('.ytThumb').bind('click',changeTheVideo);
			function changeTheVideo() {
				var videoCode = $(this).attr('alt');
				var newVideoLoc = linkToYouTube + videoCode + "?wmode=transparent";
				$('#ytVideo').attr("src", newVideoLoc);
			}
		});
	</script>
	<!-- End Of Thumbnail Script -->
	<script type="text/javascript">
		 function logResponse(response) {
	   // Event Logging:
		if (console && console.log) {
		  console.log('The response was', response);
		}
	 }
	  $(function(){
		// Event Handlers For FB Share Buttons
		// Post To Wall:
		$('#postToWall').click(function() {
			FB.ui(
			{
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
			);
        });
		// Send To Friends:
        $('#sendToFriends').click(function() {
			FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
		// Send App Request:
			$('#sendRequest').click(function() {
			 FB.ui({
              method  : 'apprequests',
              message : $(this).attr('data-message')
             },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
			});
        });
	</script>
	<!-- Event Handling: -->
  </head>
  <body bgcolor="#000000">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '490019527740859',
      xfbml      : true,
      version    : 'v2.5'
    });

    // ADD ADDITIONAL FACEBOOK CODE BELOW HERE
	// Place following code after FB.init call.
	FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    console.log('Logged in.');
  }
  else {
    FB.login();
  }
});

    // ADD ADDITIONAL FACEBOOK CODE ABOVE HERE
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <header class="clearfix">
   	<div align="center">
	  <img src="/images/DJMessyGreenLaserYoutube.jpg">
	  <h2><a href="https://messytube.herokuapp.com/extras.html">Click HERE for MessyTube Extras!</a></h2>
	</div>
  </header>
	<div id="topVideo" align="center">
	  <iframe id="ytVideo" width="560" height="315" style="float:center" src="https://www.youtube.com/embed/3B6PCpjBVS8?wmode=transparent" allowfullscreen></iframe>
	</div>
	<div align="center">
	  <p>
	  <br />
	  <h2>DJ Messy's YouTube Channel - Click the Thumbnails to select video:</h2>
		<script type="text/javascript">
	
			var insertBrk = 1;
			var arrayOfVideos =
			["3B6PCpjBVS8","I6n7gbIYwwA","3H8h_Bj9Z18","jK3KfzpuO7s"];
			var arrayOfTitles =
			["Hard Trance","Hardstyle","hard Trance","Hardstyle"]
			document.write('<br />');
			for(i in arrayOfVideos)
			{
				document.write('<img class="ytThumb" src="https://img.youtube.com/vi/' + arrayOfVideos[i] + '/default.jpg" alt="' + arrayOfVideos[i] + '" />');
				if(insertBrk == 3)
					{
						document.write('<br />');
						document.write('<h2>' + arrayOfTitles[i-2] + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + arrayOfTitles[i-1] + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + arrayOfTitles [i] + '</h2>');
						document.write('<br />');
						insertBrk = 0;
					}
				insertBrk++;
			}
		
		</script>
		<br />
		<br />
	</div>
	<footer>
	  <div align="center">
		<div id="fbcomments" align="center" valign="middle" width="0" height="260px"><fb:comments migrated="1" colorscheme="dark" height="260px" numposts="3" title="Comments" simple="1" align="center"></fb:comments></div>
	  </div>
	</footer>
  </body>
</html>

